################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################
/.vs
/core/EFCore/bin/Debug/netstandard2.1 
/core/EFCore/obj/Debug/netstandard2.1
/core/EFCore.Abstractions/bin/Debug/netstandard2.1 
/core/EFCore.Abstractions/obj/Debug/netstandard2.1
/core/EFCore.Analyzers/bin/Debug/netstandard2.1 
/core/EFCore.Analyzers/obj/Debug/netstandard2.1
/core/EFCore.Cosmos/bin/Debug/netstandard2.1 
/core/EFCore.Cosmos/obj/Debug/netstandard2.1
/core/EFCore.InMemory/bin/Debug/netstandard2.1 
/core/EFCore.InMemory/obj/Debug/netstandard2.1
/core/EFCore.Proxies/bin/Debug/netstandard2.1 
/core/EFCore.Proxies/obj/Debug/netstandard2.1
/core/EFCore.Relational/bin/Debug/netstandard2.1 
/core/EFCore.Relational/obj/Debug/netstandard2.1
/core/MySql.Data/bin/Debug/netstandard2.1 
/core/MySql.Data/obj/Debug/netstandard2.1
/core/MySql.EntityFrameworkCore/bin/Debug/netstandard2.1 
/core/MySql.EntityFrameworkCore/obj/Debug/netstandard2.1
/EFCores/EFCore/bin/Debug/netstandard2.1
/EFCores/EFCore/obj
/EFCores/EFCore.Abstractions/bin/Debug/netstandard2.1
/EFCores/EFCore.Abstractions/obj
/EFCores/EFCore.Analyzers/bin/Debug/netstandard2.1
/EFCores/EFCore.Analyzers/obj
/EFCores/EFCore.Cosmos/bin/Debug/netstandard2.1
/EFCores/EFCore.Cosmos/obj
/EFCores/EFCore.InMemory/bin/Debug/netstandard2.1
/EFCores/EFCore.InMemory/obj
/EFCores/EFCore.Proxies/bin/Debug/netstandard2.1
/EFCores/EFCore.Proxies/obj
/EFCores/EFCore.Relational/bin/Debug/netstandard2.1
/EFCores/EFCore.Relational/obj
/MySQL.Data/src/bin/Debug/netstandard2.1
/MySQL.Data/src/obj
/MySqlCore/bin/Debug/netstandard2.1
/MySqlCore/obj
/QuickNetQipt.Wpf/bin/Debug/net6.0-windows
/QuickNetQipt.Wpf/obj
/QuickNetQipt.Entity/bin/Debug/net6.0
/QuickNetQipt.Entity/obj
/QuickNetQipt.Engine/bin/Debug/net6.0
/QuickNetQipt.Engine/obj
/QuickNetQipt.Lib/obj
/QuickNetQipt.Lib/bin/Debug/net6.0
/src/obj/Debug/netstandard2.1
/AutoDbService/bin/Debug/net6.0
/AutoDbService/obj
/AutoDbService.Entity/bin/Debug/net6.0
/AutoDbService.Entity/obj
/AutoDbService.Wpf/bin/Debug/net6.0-windows
/AutoDbService.Wpf/obj
/AutoDbServiceTests/bin/Debug/net6.0
/AutoDbServiceTests/obj
/AutoDbService.Prism/bin/Debug/net6.0-windows
/AutoDbService.Prism/obj
/ConsoleApp1/bin/Debug/net6.0
/ConsoleApp1/obj
/AutoDb/bin/Debug/net6.0
/AutoDb/obj
/AutoDb.Prism/bin/Debug/net6.0-windows
/AutoDb.Prism/obj
/27262/29080/30898/13867
/AutoDb/bin/Debug
/AutoDb.DbPrism/bin/Debug
/AutoDb.DbPrism/obj/Debug
/AutoDb.Entity/bin/Debug
/AutoDb.Entity/obj/Debug
/AutoDb.Wpf/bin/Debug
/AutoDb.Wpf/obj/Debug
/AutoDbTests/bin/Debug
/AutoDbTests/obj/Debug
/packages
